.about {
    height: 100vh;
    background-color: #ffffff;
    font-family: Poppins, sans-serif;
    padding-left: 9%;
}

h1 {
    font-size: 1.7rem;
}

.description {
    border-right: none;
    width: 80%;
    font-family: Poppins, sans-serif;
    color: #2d2e32;
    font-size: 1.5rem;
}