.header {
  height: 80px ;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.name {
  font-family: Poppins,sans-serif;
  color: #2d2e32;
  margin-left: 60px;
}